name: call-center
"on": 
    push:
        branches:
            - main
    workflow_dispatch: {}
env:
    ACR_RESOURCE_GROUP: elhays
    AZURE_CONTAINER_REGISTRY: databasecni
    CHART_OVERRIDE_PATH: ./call-center/values.yaml
    CHART_OVERRIDES: image.repository=databasecni.azurecr.io/call-center,image.tag=${{ github.sha }}
    CHART_PATH: ./call-center
    CLUSTER_NAME: aks-production
    CLUSTER_RESOURCE_GROUP: aks-production
    CONTAINER_NAME: call-center
jobs:
    buildImage:
        permissions:
            contents: read
            id-token: write
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v3
            - uses: azure/login@v1.4.3
              name: Azure login
              with:
                client-id: ${{ secrets.AZURE_CLIENT_ID }}
                subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
                tenant-id: ${{ secrets.AZURE_TENANT_ID }}
            - name: Build and push image to ACR
              run: az acr build --image ${{ env.CONTAINER_NAME }}:${{ github.sha }} --registry ${{ env.AZURE_CONTAINER_REGISTRY }} -g ${{ env.ACR_RESOURCE_GROUP }} -f ./Dockerfile ./
    deploy:
        permissions:
            actions: read
            contents: read
            id-token: write
        runs-on: ubuntu-latest
        needs:
            - buildImage
        steps:
            - uses: actions/checkout@v3
            - uses: azure/login@v1.4.3
              name: Azure login
              with:
                client-id: ${{ secrets.AZURE_CLIENT_ID }}
                subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
                tenant-id: ${{ secrets.AZURE_TENANT_ID }}
            - uses: azure/use-kubelogin@v1
              name: Set up kubelogin for non-interactive login
              with:
                kubelogin-version: v0.0.25
            - uses: azure/aks-set-context@v3
              name: Get K8s context
              with:
                admin: "false"
                cluster-name: ${{ env.CLUSTER_NAME }}
                resource-group: ${{ env.CLUSTER_RESOURCE_GROUP }}
                use-kubelogin: "true"
            - name: Deploy application
              run: helm upgrade -i -f ${{ env.CHART_OVERRIDE_PATH }} --set keyazureai=${{ secrets.KEY_AZURE_AI_PUBLIC_PRODUCTION_GPT }} --set keyazureml=${{ secrets.KEY_AZURE_AI_SPEECH }} --set ${{ env.CHART_OVERRIDES }} call-center ${{ env.CHART_PATH }}
